<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBBvrtnyu2EjDb4vcaI0M24MTH_4GwrKBk</string>
	<key>GCM_SENDER_ID</key>
	<string>179654948084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.authapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>auth-acdf0</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-acdf0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:179654948084:ios:7bcabfa4cae8ddeb645aa1</string>
</dict>
</plist>